---
const platform = "github";
const username = "mindoug";
const facebook = <a href="https://wwww.facebook.com/mindouglas">"Facebook"</a>
---
<footer>
    <p>Learn more about my projects on <a href={`https://www.${platform}.com/${username}`}>{platform}</a>!</p>
    <p>Find me on ${facebook}</p>
</footer>